@charset "UTF-8";

h1#Titulo {
    text-align: center;
    background-color: red;
    font-size: 70px;
    margin-top: -10px;
    padding: 30px;
    margin-right: -10px;
    margin-left: -10px;
    
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

header {

}


a {
    background-image: linear-gradient(to right, green blue);
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}